blis==0.2.4
certifi==2024.2.2
charset-normalizer==3.3.2
ChatterBot==1.0.5
click==8.1.7
cymem==2.0.8
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#sha256=4db16860a8cdef56d436038ace6abeb9181a5176bdc8c16c755a20dced51e5f1
idna==3.7
joblib==1.4.0
mathparse==0.1.2
murmurhash==1.0.10
nltk==3.8.1
numpy==1.24.4
Pint==0.21.1
plac==0.9.6
preshed==2.0.1
pymongo==3.13.0
python-dateutil==2.7.5
pytz==2024.1
PyYAML==5.1.2
regex==2024.4.16
requests==2.31.0
six==1.16.0
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.7
thinc==7.0.8
tqdm==4.66.2
urllib3==2.2.1
wasabi==0.10.1
